<div class="actions">
  <%= link_to '追加', new_band_path %>
</div>

<table>
  <% @bands.each do |b| %>
    <tr>
      <td><%= image_tag logo_band_path(b), :style => 'width: 120px; height: 120px;' %></td>
      <td>
        <%= b.name %>
        <br/>
        <%= b.band_members.map(&:member_name).join('・') %>
      </td>
      <td>
        <%= link_to '編集', edit_band_path(b) %>
      </td>
      <td>
        <%= link_to '削除', band_path(b), :method => 'delete', :confirm => '削除します。よろしいですか？' %>
      </td>
    </tr>
  <% end %>
</table>
