<div id="<%= params[:dialog_id] %>" style="display: none;">
  <table>
    <tr>
      <th></th>
      <th><%= Member.human_attribute_name :full_name %></th>
    </tr>
    
    <% @members.each do |m| %>
      <tr member_id="<%= m.id %>" member_name="<%= m.full_name %>">
        <td>
          <%= link_to_function m.full_name, "band.member_selected(this); return false;" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
